@charset "UTF-8";

/*======================
共通部分
=======================*/
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

/*======================
ヘッダー
=======================*/
.header {
  background-color: #1B1310;
  color: #fff;
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
  border-bottom: 1px solid #fff;
}

.nav-list {
  display: flex;
}

.nav-item {
  margin-right: 55px;
}
